*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build/
/assemblebase/build/
/base/build/
/goods/build/
/login/build/
/captures
.externalNativeBuild
*.apk
*.hprof
gradle/
/.idea/
